.editor-wrapper
  .inner
    .row.editor_title
      label.row_title 题目
      .row_content
        div(contenteditable="true" class="inline_editor" ref="title" v-html="cleanHTMLCompletely(data.title)")
    .row.editor_description
      label.row_title 备注
      .row_content
        div(contenteditable="true" class="inline_editor" ref="description" v-html="cleanHTML(data.description)" v-edit="")
    block editorContent
    .row.editor_explanation
      label.row_title 解析
      .row_content
        div(contenteditable="true" class="inline_editor" ref="explanation" v-html="cleanHTML(data.explanation)" v-edit="")
    .row.row_split
      .split
      a.toggle_adv_setting(href="javascript:;" @click="toggleAdvSetting")
        span.txt {{showAdvSetting ? '收起高级设置' : '展开高级设置'}}
        i.icon-circle-down(:class="{up: showAdvSetting}")
    transition(name="slide")
      .row.editor-adv(v-show="showAdvSetting")
        block advSetting
          .row
            label 是否必答
              select(name="isRequired" ref="isRequired" v-on:change="toggleIsRequired")
                option(value="1") 必答
                option(value="0") 非必答
            label 是否计分
              select(name="isScored" ref="isScored" v-on:change="toggleIsScored")
                option(value="1") 计分
                option(value="0") 不计分
    .row.editor_control
      a.editor_confirm_btn(href="javascript:;" @click="updateBlock") 确定
      a.editor_cancel_btn(href="javascript:;" @click="cancelUpdateBlock") 取消