@import '../../assets/stylus/base'
@import '../../assets/stylus/mixin'

.block-wrapper
  width: 100%
  border-1px(rgba(7, 17, 27, 0.1))
  .block
    width: 100%
    max-width: $question-max-width
    min-width: 320px
    min-height: 200px
    margin-left: auto
    margin-right: auto
    padding: 10px 0
    .inner
      position: relative
      margin-left: 20px
      margin-right: 20px
      font-family: $question-text-font-family
      .title
        margin: 5px 0
        font-size: 16px
        line-height: 28px
      .description
        margin: 10px 0
        line-height: 20px
        font-size: 14px
        font-style: italic
      .explanation
        position: relative
        padding: 12px 12px 12px 5px
        margin: 10px 0
        line-height: 20px
        font-size: 14px
        border-radius: 3px
        color: $question-explanation-text-color
        background-color: $question-explanation-bgcolor
        border: $question-explanation-border
        &:before
          content: ''
          display: block
          position: absolute
          top: -10px
          left: 10px
          border-bottom: 10px solid $question-explanation-bgcolor
          border-left: 5px solid transparent
          border-right: 5px solid transparent
          width: 0
          height: 0
        &.slide-enter-active
          transition: all .1s ease
        &.slide-enter
          padding: 0 12px 0px 5px
          line-height: 0
        i
          display: block
          float: left
          width: 20px
          height: 20px
          line-height: 20px
          text-align: center
          color: $question-explanation-icon-color
        .explanation-text
          margin-left: 25px
          line-height: 20px