extends ../block/editor/editor

block editorContent
  .row.editor_options
    ul.options_list
      .additional_setting_title
        span.correct_answer 正确答案
      ul.normal_options_list
        li.option_item(v-for="(option, index) in data.options")
          .option_input_wrap
            .inline_editor.option_text(contenteditable="true" ref="options" v-html="unescapeHTML(option.text)" v-edit="")
          a.btn_del_option(href="javascript:;" @click="deleteOption(index)") ×
          .additional_setting
            block input
      li.option_item.option_create
        .option_input_wrap(@click="addOption(data.options.length)")
          span.add_option 新建选项
    .options_control
      a.add_options(href="javascript:;") 批量修改
