/*app的样式*/
$app-bgcolor = #fff

/*题目最宽宽度*/
$question-max-width = 800px

/*题目编号的样式*/
$question-number-bgcolor = transparent
$question-number-color = #0A7DC0
//$question-number-text-font-family = RobotoCondensed, Calibri, Arial, "Helvetica Neue", Helvetica, sans-serif
$question-number-text-font-family = RobotoSlab, "Microsoft YaHei", "Times New Roman", "Serif"

/*问题的样式*/
//题目文字的样式
$question-text-font-family = RobotoSlab, "Microsoft YaHei", "Times New Roman", "Serif"
$question-option-text-color = #000
//题目解析的样式
$question-explanation-text-color = #000
$question-explanation-bgcolor = rgba(255, 216, 0, 0.2)
$question-explanation-border = none
$question-explanation-icon-color = rgba(255, 216, 0, 1)
//题目选项ABCD的样式
$question-option-index-font-family = RobotoCondensedBold, Calibri, Arial, "Helvetica Neue", Helvetica, sans-serif
$question-option-index-bgcolor = #eee
$question-option-index-color = #000
//题目不显示ABCD的时候的默认样式
$question-option-noOptionIndex-border-color = #eee
$question-option-noOptionIndex-bgcolor = 'transparent'
//ABCD选中状态下的样式
$question-option-index-bgcolor-selected = #0A7DC0
$question-option-index-color-selected = #fff
//题目不显示ABCD的时候的选中样式
$question-option-noOptionIndex-border-color-selected = #0A7DC0
$question-option-noOptionIndex-color-selected = #fff
$question-option-noOptionIndex-bgcolor-selected = #0A7DC0
//ABCD选择正确下状态的样式
$question-option-index-bgcolor-selected-correct = green
$question-option-index-color-selected-correct = #fff
//题目不显示ABCD的时候选择正确的状态
$question-option-noOptionIndex-bgcolor-selected-correct = green
$question-option-noOptionIndex-border-color-selected-correct = green
$question-option-noOptionIndex-color-selected-correct = #fff
//ABCD选择错误下状态的样式
$question-option-index-bgcolor-selected-wrong = red
$question-option-index-color-selected-wrong = #fff
//题目不显示ABCD的时候选择错误的状态
$question-option-noOptionIndex-bgcolor-selected-wrong = red
$question-option-noOptionIndex-border-color-selected-wrong = red
$question-option-noOptionIndex-color-selected-wrong = #fff

.clearfix
  display: inline-block
  &:after
    display: block
    content: '.'
    height: 0
    line-height: 0
    clear: both
    visibility: hidden

b, strong
  font-weight: 700
i
  font-style: italic
i[attr^='icon']
  font-style: normal
u
  text-decoration: underline

@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)