@font-face
  font-family: RobotoSlab
  src: url('../fonts/RobotoSlab-Regular.ttf')
@font-face
  font-family: RobotoCondensed
  src: url('../fonts/RobotoCondensed-Regular.ttf')
@font-face
  font-family: RobotoCondensedBold
  src: url('../fonts/RobotoCondensed-Bold.ttf')
@font-face
  font-family: KreonBold
  src: url('../fonts/Kreon-Bold.ttf')
@font-face
  font-family: KreonLight
  src: url('../fonts/Kreon-Light.ttf')
@font-face
  font-family: KreonRegular
  src: url('../fonts/Kreon-Regular.ttf')

