@font-face 
  font-family: 'cw'
  src:  url('../fonts/cw.eot?qkz01j');
  src:  url('../fonts/cw.eot?qkz01j#iefix') format('embedded-opentype'),
    url('../fonts/cw.ttf?qkz01j') format('truetype'),
    url('../fonts/cw.woff?qkz01j') format('woff'),
    url('../fonts/cw.svg?qkz01j#cw') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cw' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-cross:before 
  content: "\ea0f"

.icon-checkmark:before 
  content: "\ea10"

